<h4>Register</h4>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="example-container">
        <div class="col-sm-12">

            <div class="col-sm-12">
                <mat-form-field>
                    <input matInput placeholder="User Name" formControlName="userName" required>
                </mat-form-field>
            </div>

            <div class="col-sm-12">
                <mat-form-field>
                    <input type="email" placeholder="email" matInput formControlName="email" required>
                </mat-form-field>
                <p *ngIf="email?.errors?.emailDomain">Email should not contain admin,superadmin,manager</p>
            </div>

            <div class="col-sm-12">
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                </mat-form-field>
            </div>

            <div class="col-sm-12">
                <button [disabled]="!registerForm.valid" mat-raised-button color="primary" mat-button>Register</button>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top: 1rem;">
            <a style="cursor: pointer;color: blue;" (click)="navigateToLogin()">Want to login</a>
        </div>
    </div>
</form>